<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <!-- tip to easily see objects printed in full instead of [object Object] -->
    <%- JSON.stringify(messages) %> 
    <!-- based on the structure of your messages, determine how to display them -->
    <% if(messages.registration) { %>
        <% for (var x of messages.registration) { %>
            <h3><%= x %></h3>
        <% } %>
    <% } %>
    <div>
        <h1>Welcome to Quoting Dojo</h1>
        <form action="/data" method="POST">
            <table>
                <tr>
                    <td>Your name:</td>
                    <td>
                        <input type="text" name="name">
                    </td>
                </tr>
                <tr>
                    <td>Your quote:</td>
                    <td>
                        <input type="text" name="quote">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Add my quote!</button>
                    </td>
                    <td>
                        <a href="">
                            <button>Skip to quotes!</button>
                        </a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>
</html>